// checkboxes

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: theme('colors.black');
  padding: 0.5rem 0.25rem;
}

.checkbox > input {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid theme('colors.black');
  outline: none;
  transition-duration: 0.3s;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
}

.checkbox > input:checked {
  background-color: theme('colors.black');
}

.checkbox > input:checked + span::before {
  content: '\2713';
  display: block;
  font-size: 1.4rem;
  text-align: center;
  color: theme('colors.white');
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translate(0, -50%);
}

.checkbox > input:active {
  border: 2px solid #34495E;
}
